<% layout('/layout/boilerplate') %>

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <h1>New PROM</h1>
        <h1><%= prom.id %></h1>

    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->