<% layout('/layout/boilerplate') %>

<!--begin::App Content Header-->
<div class="app-content-header">
<!--begin::Container-->
<div class="container-fluid">
    <h1><%= title %></h1>
    <strong>Appointment ID:</strong> <%= appointment.id %> <br>
</div>
<!--end::Container-->
</div>
<!--end::App Content-->