<% layout('/layout/authboilerplate') %>

<div class="login-box w-100" style="max-width: 800px">
  <div class="card card-outline card-primary d-flex flex-row">
    <!-- Left Image Section -->
    <div
      class="col-md-6 d-none d-md-block bg-light rounded-start overflow-hidden"
    >
      <img
        src="/assets/img/login-banner.jpg"
        alt="Login Illustration"
        class="img-fluid h-100"
        style="object-fit: cover"
      />
    </div>

    <!-- Right Login Form -->
    <div class="col-md-6 p-4">
      <div class="text-center mb-3">
        <a href="../index2.html" class="text-decoration-none">
          <h1 class="mb-0"><b>Derma</b>Value</h1>
        </a>
      </div>
      <p class="text-center text-muted">Sign in to start your session</p>
      <form action="/login" method="post">
        <div class="mb-3 position-relative">
          <div class="form-floating">
            <input
              id="loginEmail"
              name="email"
              type="email"
              class="form-control"
              placeholder="Email"
              required
            />
            <label for="loginEmail">Email</label>
          </div>
          <div class="position-absolute top-50 end-0 translate-middle-y pe-3">
            <i class="bi bi-envelope"></i>
          </div>
        </div>

        <div class="mb-3 position-relative">
          <div class="form-floating">
            <input
              id="loginPassword"
              name="password"
              type="password"
              class="form-control"
              placeholder="Password"
              required
            />
            <label for="loginPassword">Password</label>
          </div>
          <div class="position-absolute top-50 end-0 translate-middle-y pe-3">
            <i class="bi bi-lock-fill"></i>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-8">
            <div class="form-floating">
              <select class="form-select" id="loginRole" name="role" required>
                <option selected disabled value="">Choose role</option>

                <option value="patient">Patient</option>
                <option value="clinician">Clinician</option>
                <option value="admin">Admin</option>
              </select>
              <label for="loginRole">Sign in as</label>
            </div>
          </div>
          <div class="col-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Sign In</button>
          </div>
        </div>
      </form>

      <div class="text-center mt-3">
        <p class="mb-0">
          Don't have an account?
          <a href="/register/patient" class="text-decoration-underline"
            >Register here</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
